/* Add a dark background color with a little bit see-through */ 

.toggle {
  transition: all 0.3s;
}

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #167ac6;
    background-color: transparent;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff;
    background-color:#29292c;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

.carousel-inner img {
  -webkit-filter: grayscale 90%;
  filter: grayscale 90%;
  width: 100%;
  margin: 0 auto; }

.carousel-caption h3 {
  color: #fff; }

.teen {
  color: #333; }

.modal-header, .modal-body {
  background: transparent; }

.button.data {
  width: 150px;
  background: transparent;
  border: none; }

.portfolio-modal {
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  border: none;
  box-shadow: none;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.portfolio-modal .btn {
    margin-top: 20px;
}
.portfolio-modal p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Isotope*/
.grid {
  margin-top: 15px;
}
.filters {
  margin-bottom: 30px;
}
.hover-bg, .hover-text {
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
}

.hover-bg {
  position: relative;
  // height: 141px;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  padding-top: 4%;
  top: 0;
  margin: 0 auto;
  border: 15px solid rgba(0,0,0,.7);
  background: rgba(0,0,0,.7);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}

.hover-text h3 {
  font-size: 12px;
}

.hover-text a, .hover-text a:hover {
  text-decoration: none;
}

.music:hover .hover-text{
  opacity: 1;
}

/* button person */
.button-group .all {

  background-image: url(../imgs/all.jpg);
  background-size: cover;
  background-position: center;
  max-width: 16vh;
  min-height: 13vh;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 5px;
  width: 80%;
  height: 80%;
  opacity: 0.7; 
  transition: all .4s;
}

.person:hover {
  border-color: #f1f1f1; }

#ev8d {
  margin-bottom: 20px;
  // padding: 0;
}

.page-title {
  margin-top: 80px;
}

.title-intro {
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-weight: 100
}

.title-intro p {
  line-height: 24px;
}

.title-intro strong {
    letter-spacing: 2px;
    font-size: 3rem;
}
#portfolio .h4 {
  margin-bottom: 30px;
}

/* footer */
footer {
  margin-top: 50px;
}

#portfolio p {
  letter-spacing: 1px;
}

/* RWD */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  } 
  .hover-text{
    opacity: 1;
    padding-top: 14%;
    border: 10px solid rgba(0,0,0,.5);
  }
  .v5 {
    height: 173px;
    width: 100%;
   }
   .person {
      width: 100%;
      border: none;
   }
   .button.data {
    width: 100%;
   }
   .small-m {
     font-size: 8px;
   }
  }
@media (min-width: 768px) {
  .person {
    width: 100%;
  }
  .button.data {
   width: 100%;
  }
}